<div style="background-color: #000; padding: 20px; border-radius: 10px; display: inline-flex; align-items: center; overflow: hidden;">
    <span style="color: #ff0000; font-size: 40px; font-weight: bold; margin-right: 10px;">SUITS ANALYSIS</span>
    <img src="https://flxt.tmsimg.com/assets/p8630071_b_h8_bc.jpg" style="height: 100px; vertical-align: middle;">
</div>

# **About Suits**

**Created by:** *Aaron Korsh*  
**Premiere:** *June 23, 2011*, on **USA Network**

*Suits* is an American television drama series that follows **Mike Ross** (*Patrick J. Adams*), who begins working as a law associate for **Harvey Specter** (*Gabriel Macht*), despite never attending law school. The core of the series focuses on their capability to close cases and keep Mike's secret hidden.

**Seasons Renewal:**  
- <span style="background-color: #FFFF00">Eighth Season Announced:</span> January 30, 2018
- <span style="background-color: #FFFF00">Ninth and Final Season Announced:</span> January 2019, premiered on July 17, 2019

During its run from June 23, 2011, to September 25, 2019, *Suits* aired 134 episodes over nine seasons.

In [4]:
#Loading the data
import pandas as pd

suits= pd.read_csv(r"E:\University Content\RR\Assignment8\RR_Assignment8\suits_data.csv")
print(suits.head())
print(suits.tail())

   Sno  Episodes                   Title       Director          Writer  \
0    1         1                 "Pilot"     Kevin Bray     Aaron Korsh
1    2         2  "Errors and Omissions"     John Scott  Sean Jablonski
2    3         3          "Inside Track"     Kevin Bray     Aaron Korsh
3    4         4  "Dirty Little Secrets"  Dennie Gordon       Jon Cowan
4    5         5              "Bail Out"     Kate Woods    Ethan Drogin

        Air_date Seasons  Viewers
0  June 23, 2011      S1     4.64
1  June 30, 2011      S1     3.89
2   July 7, 2011      S1     4.53
3  July 14, 2011      S1     4.38
4  July 21, 2011      S1     4.38
     Sno  Episodes                 Title               Director  \
129  130         6   "Whatever It Takes"          Michael Smith
130  131         7        "Scenic Route"        Emile Levisetti
131  132         8  "Prisoner's Dilemma"          Julian Holmes
132  133         9        "Thunder Away"  Robert Duncan McNeill
133  134        10        "One Last Con"            Aaron Korsh

                 Writer            Air_date Seasons  Viewers
129        Ethan Drogin     August 21, 2019      S9     1.05
130      Garrett Schabb   September 4, 2019      S9     1.07
131        Ethan Drogin  September 11, 2019      S9     0.97
132  Genevieve Sparling  September 18, 2019      S9     0.96
133         Aaron Korsh  September 25, 2019      S9     0.86

In [8]:
suits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sno       134 non-null    int64
 1   Episodes  134 non-null    int64
 2   Title     134 non-null    object
 3   Director  134 non-null    object
 4   Writer    134 non-null    object
 5   Air_date  134 non-null    object
 6   Seasons   134 non-null    object
 7   Viewers   134 non-null    float64
dtypes: float64(1), int64(2), object(5)
memory usage: 8.5+ KB

In [31]:
suits.describe()

              Sno    Episodes     Viewers
count  134.000000  134.000000  134.000000
mean    67.500000    8.097015    2.180224
std     38.826537    4.523738    1.065726
min      1.000000    1.000000    0.690000
25%     34.250000    4.000000    1.272500
50%     67.500000    8.000000    1.870000
75%    100.750000   12.000000    2.862500
max    134.000000   16.000000    4.640000

## Episode & Series Analysis

In [30]:
#Total numbers of Seasons:
print("Total Seasons Count: ",suits["Seasons"].nunique())

Total Seasons Count:  9

In [35]:
#Number of Episodes in each season:
print("No. of Episodes in each season:\n\n", suits["Seasons"].value_counts().sort_values(ascending=True))

No. of Episodes in each season:

 S9    10
S1    12
S2    16
S3    16
S4    16
S5    16
S6    16
S7    16
S8    16
Name: Seasons, dtype: int64

First and last seasons has significantly less episodes as compared to other seasons which has 16 episodes in each series.

## Exploring the Top 5 Directors' & Writers' Impact on the Series

In [22]:
# Top 5 Director
suits["Director"].value_counts().head(5)

Michael Smith          16
Anton Cropper          16
Christopher Misiano    15
Kevin Bray             12
Roger Kumble           12
Name: Director, dtype: int64

In [21]:
#Top 5 Writers
suits["Writer"].value_counts().head(5)

Genevieve Sparling    16
Aaron Korsh           15
Ethan Drogin          13
Rick Muirragui        12
Daniel Arkin          11
Name: Writer, dtype: int64